<% include ../partials/header %>
&nbsp;
<div class="jumbotron" style="background-color: #B3C3DA;">
<h2 class="text-left">Report Product</h2>
<table class="table">
    <thead>
        <tr>
        <th>ITEM NAME</th>
        <th>QUANTITY PURCHASED</th>
        <th>AMOUNT</th>
        </tr>
    </thead>
    <tbody id="myTable">
    <% products.forEach(function(product) { %>
        <tr>
            <td scope="row"><%= product.title %></font></td>
            <td><%= product.quantity %></font></td>
            <td>$<%= product.price %></font></td>
        </tr>
        <% }); %>
        <% sum.forEach(function(sum) { %>
        <tr>
            <td scope="row"><h5>Total</h5></td>
            <td id="quantity"><h5><%= sum.squantity %></h5></td>
            <td id="price"><h5>$<%= sum.sprice %></h5></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<canvas id="bar-chart" width="800" height="450"></canvas>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
<%
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

 
var labelss=[]
var data=[]
var color=[]
products.forEach(function(product) { 
    var colors =getRandomColor()
    labelss.push("'" + product.title + "'");
    color.push("'" +colors + "'");
    data.push(product.price);
}); %>

new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels:[<%-labelss%>], 
      
      datasets:[{
          label: "Products",
                backgroundColor: [<%-color%>],   
          data:  [<%=data%>]
        }]
      
     
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});




</script>

</div>


  <% include ../partials/footer %>